<nav class="navbar navbar-expand-lg sticly-top bg-purple" id="navBar" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html"><i class="bi bi-airplane-fill"></i> <strong>Travelis</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="travelDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Travel
                    </a>
                    <ul class="dropdown-menu" data-bs-theme="light">
                        <li><a class="dropdown-item" href="/topChoices.html">Top Choices!</a></li>
                        <li><a class="dropdown-item" href="/destinations.html">Destinations</a></li>
                        <li><a class="dropdown-item" href="/combos.html">Combos</a></li>
                        <li><a class="dropdown-item" href="/studentExchange.html">Student exchange</a></li>
                        <li><a class="dropdown-item" href="/offers.html">Offers</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/benefits.html">Benefits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help.html"><i class="bi bi-question-circle"></i> Help</a>
                </li>
            </ul>
            <form class="d-flex" data-bs-theme="light" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </div>
</nav>