html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.dropdown-menu {
    animation: slideup .3s ease-out;
}

@keyframes slideup {
    from {
        transform: translateY(-8%);
    }
    to {
        transform: translateY(0%);
    }
}

.txt-shadow{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.bg-purple {
    background-color: #600aff;
}

.text-purple {
    color: #600aff;
}

.scrollspy-itineraries {
    height: 200px;
    overflow-y: scroll;
}