.dropdown-menu {
    animation: slideup .3s ease-out;
}

@keyframes slideup {
    from {
        transform: translateY(-8%);
    }
    to {
        transform: translateY(0%);
    }
}

.txt-shadow{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}